<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>RecipeBook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>controller.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>controller.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>MyRecipesButton</servlet-name>
  	<servlet-class>controller.servlets.MyRecipesButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyRecipesButton</servlet-name>
  	<url-pattern>/MyRecipesButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TimelineButton</servlet-name>
  	<servlet-class>controller.servlets.TimelineButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TimelineButton</servlet-name>
  	<url-pattern>/TimelineButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RecipeCreationButton</servlet-name>
  	<servlet-class>controller.servlets.RecipeCreationButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RecipeCreationButton</servlet-name>
  	<url-pattern>/RecipeCreationButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ViewOneOfMyRecipeButton</servlet-name>
  	<servlet-class>controller.servlets.ViewOneOfMyRecipeButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewOneOfMyRecipeButton</servlet-name>
  	<url-pattern>/ViewOneOfMyRecipeButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditMyRecipeButton</servlet-name>
  	<servlet-class>controller.servlets.EditMyRecipeButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditMyRecipeButton</servlet-name>
  	<url-pattern>/EditMyRecipeButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditRecipeChooseIngredientsButton</servlet-name>
  	<servlet-class>controller.servlets.EditRecipeChooseIngredientsButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditRecipeChooseIngredientsButton</servlet-name>
  	<url-pattern>/EditRecipeChooseIngredientsButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>IngredientUpdateButton</servlet-name>
  	<servlet-class>controller.servlets.IngredientUpdateButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IngredientUpdateButton</servlet-name>
  	<url-pattern>/IngredientUpdateButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ViewARecipeFromTimelineButton</servlet-name>
  	<servlet-class>controller.servlets.ViewARecipeFromTimelineButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewARecipeFromTimelineButton</servlet-name>
  	<url-pattern>/ViewARecipeFromTimelineButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>WriteCommentButton</servlet-name>
  	<servlet-class>controller.servlets.WriteCommentButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WriteCommentButton</servlet-name>
  	<url-pattern>/WriteCommentButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CommentSendButton</servlet-name>
  	<servlet-class>controller.servlets.CommentSendButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CommentSendButton</servlet-name>
  	<url-pattern>/CommentSendButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DeleteMyRecipeButton</servlet-name>
  	<servlet-class>controller.servlets.DeleteMyRecipeButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteMyRecipeButton</servlet-name>
  	<url-pattern>/DeleteMyRecipeButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditCommentButton</servlet-name>
  	<servlet-class>controller.servlets.EditCommentButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditCommentButton</servlet-name>
  	<url-pattern>/EditCommentButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DeleteCommentButton</servlet-name>
  	<servlet-class>controller.servlets.DeleteCommentButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteCommentButton</servlet-name>
  	<url-pattern>/DeleteCommentButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CommentEditSendButton</servlet-name>
  	<servlet-class>controller.servlets.CommentEditSendButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CommentEditSendButton</servlet-name>
  	<url-pattern>/CommentEditSendButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CreateRecipeChooseIngredientsButton</servlet-name>
  	<servlet-class>controller.servlets.CreateRecipeChooseIngredientsButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateRecipeChooseIngredientsButton</servlet-name>
  	<url-pattern>/CreateRecipeChooseIngredientsButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>IngredientInsertButton</servlet-name>
  	<servlet-class>controller.servlets.IngredientInsertButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IngredientInsertButton</servlet-name>
  	<url-pattern>/IngredientInsertButton</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>Signup</servlet-name>
  	<servlet-class>controller.servlets.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Signup</servlet-name>
  	<url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminEditRecipeButton</servlet-name>
  	<servlet-class>controller.servlets.AdminEditRecipeButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminEditRecipeButton</servlet-name>
  	<url-pattern>/AdminEditRecipeButton</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminDeleteRecipeButton</servlet-name>
  	<servlet-class>controller.servlets.AdminDeleteRecipeButton</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminDeleteRecipeButton</servlet-name>
  	<url-pattern>/AdminDeleteRecipeButton</url-pattern>
  </servlet-mapping>
  
  
  <listener>
  	<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>
  <filter>
  	<filter-name>ShiroFilter</filter-name>
  	<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ShiroFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  	<dispatcher>INCLUDE</dispatcher>
  	<dispatcher>ERROR</dispatcher>
  </filter-mapping>
</web-app>